/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Sen', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */



body {
	margin: 0 8%;
}


.flex-container {
	display: flex;
	
}


/*-------------------------- Navigation------------------------ */



@keyframes navBar{
	0%   {color: blue;}
	25%  {color: black;}
	50%  {color: purple;}
	100% {color: pink}
}


.navagation {
	position: fixed;
	width:84%;
	background-color: lightgrey;
	flex-flow: row wrap;
	align-items: center;
	border-radius: 15px;
	padding: 0 1%;
	justify-content: space-between;
	z-index: 1;
}

.navagation a, .navagation img{
	color: black;
	min-width: 13.5%;
	text-decoration: none;
}


nav a:hover {
	animation-name: navBar;
	animation-duration: 2.5s;
	color: pink;
}


/*--------------------------  Home Header    ------------------------ */


.header-main {
	flex-wrap: wrap;
	padding: 5% 0;
	justify-content: space-evenly;
	align-items: center;
}

h1{
	font-size: 500%;
	text-align: center;
}

#btnStart {
	width: 150px;
	background: white;
	border: 1px solid black;
	line-height: 1.6;
	font-size: 16px;
}

#btnStart:hover {
	background: black;
	color: white;
}

/*-------------------------- Services Header ------------------- */


.services-header {
	border-bottom: 1px solid black;
	padding: 3% 0;
	margin-bottom: 2%;
}

.services-header h2 {
	font-size: 125%;
	font-weight: 900;
}

.services-header-img {
	width: 100%;
	margin: 2% 0;
}

/*-------------------------Products Header------------------------ */

.product-header {
	border-bottom: 1px solid black;
	margin-bottom: 3%;
}

.product-gallery{
	justify-content: flex-start;
	margin: 5% 0 3% 0;
	flex-flow: row wrap;
	border: 10px solid grey;
	background: #e5e5e5;
	
}

.product-gallery img{
	width: 12%;
	margin: 1%;
	opacity: 50%;
	border: 1px solid black;
	transition: padding 1s, opacity 2s, height 1s, width 1s;
} 

.product-gallery img:hover {
	padding: 0;
	opacity: 100%;
	width: 15%;
}


/*--------------------------   Content   ------------------------ */


.upperContent, .lowerContent {
	padding: 3% 0;
	border-top: 1px solid black;
	text-align: left;
}


.upperContent div, .lowerContent div {
	margin-bottom:3%;
	padding-right: 1%;
}

.upperContent {
	padding: 2% 0;
}

.upperContent div {
	margin-bottom: 2%;
}

.middle-img{
	background: url(../img/mid-page-accent.jpg);
	background-size: cover;
	height: 200px;
	width: 100%;
}

.lowerContent {
	border-top: none;
	border-bottom: 1px solid black;
}

/*--------------------Services Content--------------------------*/

.content {
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 1% 0;
}

.box {
	
	flex-flow: column wrap;
	background: #e5e5e5;
	border: 1px solid black;
	width: 48%;
	min-width: 30%;
	padding: 2%;
}

.box button {
	border: 1px solid black;
	background: white;
	margin-top: 4%;
	width: 25%;
	padding: 1.5%;
	border-radius: 7px;
}

.box button:hover{
	background: black;
	color: white;
}

/*---------------------Product Content--------------------------*/


.product-content-upper {
	background: #e5e5e5;
	padding: 1% 0;
}

.products {
	flex-flow: column wrap;
	padding: 1%;
	width: 50%;
}

.products p{
	margin: 1% auto;
}

.product-content-lower {
	margin: 3% 0;
	border-top: 1px solid black;
	padding: 3% 0;
}

.product-content-lower img {
	padding-right: 1%;
	width: 50%;
}

.products-lower {
	flex-direction: column;
	justify-content: space-between;
	background: #e5e5e5;
	padding: 1%;
}

.products-lower h3 {
	align-self: center;
}



/* --------------------Contact - Lower ------------------------- */


.contactInfo {
	text-align: left;
	padding-top: 4%;
}

.contactInfo div {
	margin-bottom: 4%;
}

footer {
	text-align: center;
}

/* -----------------------Services Lower---------------------*/

.footer-container {
	margin-top: 2%;
	flex-flow: row wrap;
	border-top: 1px solid black;
	justify-content: space-between;
	padding: 2% 0;
}

.footer-box {
	display: flex;
	flex-flow: column wrap;
	width: 48%;
	text-align: left;
	justify-content: space-evenly;
}

.footer-box img{
	width: 100%;
}
